.green{
    background-color:#1abb9b;
}
/* classi per il jumbo */
.first-image{
    /* margin:20px 0; */
    text-align:center;
}
.first-image img{
    width:200px;
}
.title, .title-2{
    text-align:center;
}
.green .title-2{
    font-size:11px;
    padding-bottom:10px;
}
.star{
    margin-bottom:24px;
    text-align:center;
}
.star::before{
    content:"";
    width:50px;
    height:5px;
    background-color:gray;
}
.colored-box{
    background-color:red;
    height:260px;
    margin-bottom:24px;
}
/* ---------------------------------- */
/* classi input */
.box-text{
    margin-bottom:24px;
}
.bottom{
    border:1px solid black;
    height:30px;
    text-align:center;
}
.content-input input{
    border:0;
    border-bottom:1px solid #ccc;
    display:block;
    width:100%;
    margin-bottom:10px;
}
.content-input ::placeholder{
    color:black;
    
}
#message{
    border:0;
    border-bottom:1px solid #ccc;
}
/* ---------------------------------- */

.blue{
    background-color:#3b546e
}