.container-fluid{
    width:100%;
    max-width:100%;
}
.green{
    background-color:#1abb9b;
}

.first-image{
    border:1px solid black;
    height:200px;
    margin:20px 0;
}
.title, .title-2{
    text-align:center;
    border:1px solid black;
}
.title-2{
    font-size:11px;
}
.star{
    border:1px solid black;
    height:30px;
}
.margine-sopra{
    margin-top:20px;
}
/* photo class */
.photo-content{
    border:1px solid black;
    height:100px;
    margin:10px 0;
}